<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Melanoma Scan{% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" height="50" /> </a><button
        class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <i class="fas fa-gear" style="color: #2c7a7b; font-size: 1.5rem"></i>
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('detection') }}">Detection</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('chatbot') }}">Chatbot</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
          </li>

          {% if user_logged_in %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <img src="{{ url_for('static', filename='images/user.png') }}" alt="" width="30" height="30" />
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <p class="dropdown-item disabled">
                {{ session.get('username', 'Pengunjung') }}
              </p>
              <p class="dropdown-item disabled">
                {{ session.get('email', 'Pengunjung')[:13] }}{{ '...' if
                session.get('email', 'Pengunjung')|length > 8 else '' }}
              </p>

              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item" data-toggle="modal" data-target="#logoutModal">Logout</a>
            </div>
          </li>
          {% else %}
          <li>
            <a href="{{ url_for('login') }}" class="btn btn-secondary text-white"
              style="background-color: #2c7a7b">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% block content %} {% endblock %}

  <footer>
    <div class="container">
      <div class="footer-container row mx-0">
        <div class="footer-address col-9">
          <ul class="list-unstyled text-center text-md-left">
            <li>
              <i class="fas fa-map-marker-alt mr-2 mb-2"></i>Pasar Minggu,
              Jakarta Selatan
            </li>
            <li><i class="fas fa-phone mr-2 mb-2"></i>+62 857 1656 9378</li>
            <li>
              <i class="fas fa-envelope mr-2 mb-2"></i>melanomascan@gmail.com
            </li>
          </ul>
        </div>
        <div class="footer-social col-3 text-center">
          <p>
            <i class="fab fa-instagram fa-2x"></i><a href="https://instagram.com/cypher.mind" target="_blank"
              class="text-white">@cypher.mind</a>
          </p>
        </div>
      </div>
      <hr />
      <div class="footer-bottom text-center">
        <div class="footer-logo text-center mb-3">
          <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" height="50" />
        </div>
        <p>&copy; 2024 Melanoma Scan. All rights reserved.</p>
      </div>
    </div>
  </footer>

  <!-- Modal Logout -->
  <div class="modal" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="logoutModalLabel">Logout</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to log out?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancel
          </button>
          <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery, Popper.js, Bootstrap 4 JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

  <script>
    const toggle = document.querySelector(".navbar-toggle");
    const navbarLinks = document.querySelector(".navbar-links");

    toggle.addEventListener("click", () => {
      navbarLinks.classList.toggle("active");
      toggle.classList.toggle("active");
    });

    window.addEventListener("scroll", () => {
      if (window.scrollY > 50) {
        navbar.classList.add("scrolled");
      } else {
        navbar.classList.remove("scrolled");
      }
    });
  </script>
</body>

</html>